* { 
    margin: 0; padding: 0; 
} 
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.table{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.menu{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1%;
    position: sticky;
    top: 0;
    background-color: rgb(218, 218, 218);
    width: 100%;
    border-bottom: 2px solid grey;
}

.menu__buttons{
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
    width: 50%;
   
    
}
.menu__inputs{
  
    display: flex;
    justify-content: space-between;
    width: 50%;
    
   
}
.inputs__wrapper{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}
.wrapper__input{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgb(214, 214, 214);
}
.wrapper__input:focus{
    background-color: white;
}
.button{
    border-radius: 10px;
    color: cornsilk;
    cursor: pointer;
    border: none;
    background-color: rgb(54, 122, 182);
    width: 100px;
    height: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
    }

.button__disabled{
    border-radius: 10px;
    color: cornsilk;
    border: none;
    background-color: rgb(80, 80, 80);
    width: 100px;
    height: 50px;     
}

.button:hover{
    background-color: rgb(21, 106, 180);
}
.table__dynamic{
    
    width: 70vw;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    border-radius: 10px;
    border-spacing: 0;
}
.th{
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
}
.th:first-child {
    border-top-left-radius: 15px;
    }
.th:last-child {
    border-top-right-radius: 15px;
    border-right: none;
}

.tabCell{
    background: #D8E6F3;
    border: 2px solid white;
}
